.cvSection {
    width: 700px;
    margin: 0 auto 48px;
}

.cvSection h2 {
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5rem;
}

@media (width <=700px) {
    .cvSection {
        margin-bottom: 38px;
    }
}