.experience ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.experience article h3 {
    font-weight: 500;
    color: #111;
}

.experience article a {
    color: #111;
}

.experience article a:hover {
    text-decoration: underline;
}

.experience article h4 {
    color: #222;
    font-weight: 400;
}

.experience header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
}

.experience time {
    color: #555;
    font-size: 0.85rem;
    min-width: 102px;
}

@media (width <=700px) {
    .experience time {
        text-align: right;
    }
}