.formFieldsList {}

.fieldWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.internal>.fieldWrapper {
    flex-direction: row-reverse;
}

.field {
    flex-grow: 1;
    padding-left: 0.6rem;
    border-radius: 5%;
    position: relative;
}

.internal>.fieldWrapper .field {
    padding-left: 0;
    position: initial;
}

.field>* {
    width: 100%;
}

.field::before {
    content: "";
    display: block;
    position: absolute;
    left: -0.03rem;
    top: 13%;
    translate: transformY(-50%);
    width: 1px;
    height: 75%;
    background: rgb(221, 221, 221);
    background: linear-gradient(0deg, rgba(221, 221, 221, 0.3043418050814075) 0%, rgba(233, 233, 233, 1) 25%, rgba(221, 221, 221, 1) 75%, rgba(221, 221, 221, 0.30154068463322825) 100%);
}

.footer {
    margin-top: 0.6rem;
    margin-bottom: 1rem;
}

.external>.footer .footerSpacing {
    display: none;
}

.internal>.footer .footerSpacing {
    visibility: hidden;
}

.footer>.field::before {
    display: none;
}

.addButtonWrapper {
    border: 1px dashed #ddd;
    border-radius: 0.35rem;
    display: flex;
    height: initial;
    justify-content: center;
    padding: 0.6rem 0;
    width: 100%;
}


.addButtonWrapper:hover {
    border: 1px dashed #dfdfdf;
    background-color: #fafafa;
}