.heroContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.heroContainer .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-right: 32px;
}

.heroContainer h1 {
    font-weight: 400;
    font-size: 2rem;
}

.heroContainer h2 {
    color: #444;
    font-weight: 500;
    font-size: 1.1rem;
    text-wrap: balance;
}

.heroContainer img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 178px;
    border-radius: 16px;
}

.heroContainer span {
    color: #666;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.85rem;
    letter-spacing: -0.05rem;
}

.heroContainer footer {
    color: #555;
    font-size: 0.65rem;
    display: flex;
    gap: 4px;
    margin-top: 8px;
}

.heroContainer footer a {
    color: #777;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    padding: 4px;
    height: 32px;
    width: 32px;
    border-radius: 6px;
    transition: all 0.3s ease;
    position: relative;
}

.heroContainer footer a::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}

.heroContainer footer a:hover {
    background: #eee;
    border: 1px solid #ddd;
}

@media (width <=700px) {
    .heroContainer .container {
        flex-direction: column-reverse;
    }

    .heroContainer .info {
        justify-content: center;
        align-items: center;
        padding-right: 0;
        text-align: center;
    }

    .heroContainer figure {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .heroContainer h2 {
        text-wrap: balance;
    }

    .heroContainer figure {
        margin: 0 auto;
    }
}