---
import type { CV } from "@/cv";
import Form from "@/editor/components/form";
import Layout from "@/layouts/Layout.astro";
import Cv from "@/core/components/Cv";
import { i18n } from "@/core/i18n/config";
import { useTranslation, type Locale } from "@/core/i18n/utils";

const lang = Astro.params.lang as Locale ?? i18n.defaultLocale
const uiContent = useTranslation(lang)
---

<Layout title="Portafolio">
    <div class="editor-container">
        <main class="editor no-print">
            <Form client:load />
        </main>
        <aside class="preview">
            <Cv client:load uiContent={uiContent} />
        </aside>
    </div>
</Layout>

<style>
    .editor-container {
        display: flex;
        min-height: 100vh;
    }

    .editor {
        min-width: 300px;
    }

    .preview {
        padding-left: 1rem;
        flex-grow: 1;
    }
</style>