---
import type { Basics } from "@/cv"
import Section from "../Section.astro"

interface Props {
  title: string
  basics: Basics
}
const { title, basics } = Astro.props
const { summary } = basics
---

<Section title={title}>
  <p>
    {summary}
  </p>
</Section>
