---
import type { Basics } from "@/cv"
import Section from "../Section.astro"

interface Props {
  basics: Basics
}
const { basics } = Astro.props
const { summary } = basics
---

<Section title="Sobre mí">
  <p>
    {summary}
  </p>
</Section>
